:root {
  --font-primary: Geneva, Verdana, sans-serif;
  --background-color-primary: #ecf5ff;
  --color-gradient: linear-gradient(to bottom, #000428, #004e92);
  --color-primary: #444;
  --color-secondary: #fff;
  --color-button: #004e92;
  --color-button-hover: #06106a;
  --color-red: #fe605554;
  --color-green: #c7efcf83;
  --color-dark-green: #2b9240;
}

/* Base CSS reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* base styling */

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color-primary);
  color: var(--color-primary);
}

.btn {
  font-size: 1.1rem;
  min-width: 16rem;
  height: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: 0;
  background-color: var(--color-button);
  color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(22, 57, 232, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

main {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 2rem;
}

header {
  background: var(--color-gradient);
  padding: 2rem 2rem;
}

h1 {
  text-align: center;
  color: var(--color-secondary);
}

h2 {
  margin-bottom: 2rem;
}

.question-input,
.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

/* question-input */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40rem;
}

input[type='text'] {
  padding: 0.5rem;
  border: 1px solid var(--color-button);
}

.question-container,
.explanation-container {
  display: flex;
  flex-direction: column;
}

#question,
#explanation {
  max-width: 100%;
}

.answer-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.answer {
  width: 50%;
}
explanation-container > label,
.question-container > label {
  margin-bottom: 0.5rem;
}

.btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1.5rem;
}

.wrong-answer {
  background-color: var(--color-red);
}

.correct-answer {
  background-color: var(--color-green);
}

.message {
  margin-top: 2rem;
}

/* question-list */
.question-list ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  justify-content: space-around;
}

.question-list li {
  list-style-type: none;
  flex: 0 0 38rem;
}

.question-list h3 {
  margin-bottom: 0.5rem;
}
.question-list p {
  margin-bottom: 0.5rem;
}

.prefix {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  color: var(--color-secondary);
  width: 2.5rem; /* Size of the circle */
  height: 2.5rem; /* Size of the circle */
  color: white; /* Text color */
  border-radius: 50%;
}

.question-list .btn {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  min-width: 9rem;
  height: 3rem;
}

.pseudo-element::after {
  content: '\2713 correct';
  color: var(--color-dark-green);
  margin-left: 1rem;
}

/* search */
.search-container {
  display: flex;
  margin-bottom: 2rem;
}

.search-btn {
  padding: 0.7rem;
  background-color: var(--color-button);
  border: 1px solid var(--color-button);
}

.search-btn:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(22, 57, 232, 0.5);
}

/* footer */
footer {
  background: var(--color-gradient);
  color: var(--color-secondary);
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hidden {
  display: none;
}
