:root {
  --font-primary: Geneva, Verdana, sans-serif;
  --background-color-primary: #fff;
  --color-primary: #444;
  --color-button: #9cc4f1;
  --color-title: #5c93e5;
  --color-red: #f4a9a9;
  --color-green: #d6f7d2;
}

/* Base CSS reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* base styling */

html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  padding: 2rem;
}

.btn {
  max-width: 20rem;
  height: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  background-color: var(--color-button);
  color: var(--color-primary);
}
.btn:hover {
  background-color: var(--color-title);
}

/* styling */
main {
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input[type='text'] {
  padding: 0.5rem;
}

.question-container,
.explanation-container {
  display: flex;
  flex-direction: column;
}

#question,
#explanation {
  max-width: 60%;
}

.answer-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.wrong-answer {
  background-color: var(--color-red);
}

.correct-answer {
  background-color: var(--color-green);
}

.message {
  margin-top: 2rem;
}
